<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Lab 10 Yixuan</title>
    <link rel="stylesheet" href="/public/main.css">
</head>
<body>
    <main>
        {{{body}}}
    </main>
</body>
</html>