<title>Show Finder</title>
<h1>Show Finder</h1>

<main>
    <p>This is a page designed by <br>Yixuan Wang. <br><br>You can search TV shows here. Just search it right now!!!</p>
    <form action = "/search" method="POST">
    <label for="searchTermId">Search Term</label>
    <input type="text" id="searchTermId" name = "searchTerm">
    <button type="submit">Submit</button>
    </form>
</main>