

<title>Shows Found</title>
<h1>Shows Found</h1>
<h2>{{searchTerm}}</h2>

<main>
    <ul>
        {{#each searchShows}}
        <li>
            <a href="/shows/{{this.show.id}}"> {{this.show.name}} </a>
            {{!-- NO MORE THAN 20 --}}
        </li>
        {{/each}}
    </ul>
    
   
    {{#if notFound}}
    <p class="not-found">We're sorry, but no results were found for {{searchTerm}}.</p>
    {{/if}}

    <a href="/">Make another search</a>

</main>