<header>
    <h1>Fibonacci Prime Number Checker</h1>
</header>

<form id="myForm" method="POST">
    <label for = "index">Enter an index here to calculate and check </label>
    <input type="number" id="inputNumber" name="inputNumber"/>
    <button type="submit" class="btn btn-default">Submit</button>
</form>
<ul id="results"></ul>

